@model IEnumerable<BuildingManagement.Models.MaintenanceRequest>

@{
    ViewBag.Title = "ViewReport";
}

<h2>ViewReport</h2>

@using (Html.BeginForm("ViewReport", "Home", FormMethod.Get))

  {
    <span>FromDate:</span><input type="date" name="start" />
    <span>ToDate:</span><input type="date" name="end" />
    <input type="submit" value="Search"/>

   }
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.UserDetails.Name)
        </th>
            <th>
                @Html.DisplayNameFor(model => model.UserRequest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserDetails.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserRequest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImagePath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
        </td>
    </tr>
        }

    </table>
    <div>
        @Html.ActionLink("Back to List", "AdminModule")
    </div>


